Repository dwightjack/vue-pomodoro-timer: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,vue}"
      run: pnpm eslint {staged_files}
      stage_fixed: true

    format:
      glob: "*.{css,html,json,md,yaml,yml}"
      run: pnpm prettier --write {staged_files}
      stage_fixed: true

update lefthook config
  lefthook.yml
Due: format

Update main.yml
  .github/workflows/main.yml
Due: format

steps
  package.json
  pnpm-lock.yaml
  src/App.vue
  src/assets/css/tailwind.css
  src/components/BaseControl.vue
  src/components/BaseIcon.vue
  src/components/IntervalEditBox.vue
  src/components/IntervalStep.vue
  src/components/TheControls.vue
  src/components/TheCycle.vue
  src/components/TheCycleEdit.vue
  tsconfig.json
  vite.config.ts
Due: lint, format

cleaner logic
  src/components/TheGraphicTimer.vue
Due: lint

simpler syntax
  src/components/TheCycle.vue
Due: lint

update dependencies
  .node-version
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format

add different screen transitions
  src/App.vue
Due: lint

update lock file
  pnpm-lock.yaml
Due: format

update deps
  package.json
  pnpm-lock.yaml
Due: format

enable CSS formatting on save and set Prettier as default formatter
  .vscode/settings.json
Due: format

add view transition styles to base layer
  src/assets/css/tailwind.css
Due: format

refactor(LayoutInline, LayoutStack): replace gap classes with calc-based styles
  src/components/LayoutInline.vue
  src/components/LayoutStack.vue
Due: lint

fix ui
  index.html
  src/App.vue
  src/assets/css/tailwind.css
  src/components/BaseButton.vue
  src/components/BaseControl.vue
  src/components/IntervalEditBox.vue
  src/components/IntervalStep.vue
  src/components/TheCycleEdit.vue
  src/components/TheTimerList.vue
Due: lint, format

cleanup
  src/components/IntervalSquare.vue
Due: lint

fix tests
  .vscode/settings.json
  playwright.config.ts
  src/components/IntervalEditBox.vue
  src/types.ts
  tests/fixtures/app.ts
  tests/settings.spec.ts
  tests/timer.spec.ts
Due: lint, format

fix ui
  src/components/TheCycleEdit.vue
  src/types.ts
Due: lint

migrate from prettier to oxfmt
  .github/workflows/main.yml
  .oxfmtrc.json
  .vscode/settings.json
  README.md
  eslint.config.js
  index.html
  lefthook.yml
  package.json
  pnpm-lock.yaml
Due: lint, format

update vite
  package.json
  pnpm-lock.yaml
Due: format

add a timer label
  src/App.vue
  src/components/TheTimerLabel.vue
Due: lint

fix script
  src/components/TheTimerLabel.vue
Due: lint

update favicons
  index.html
  package.json
  pnpm-lock.yaml
  public/apple-touch-icon-180x180.png
  public/favicon.ico
  public/icon.svg
  public/img/icons/android-chrome-192x192.png
  public/img/icons/android-chrome-512x512.png
  public/img/icons/android-chrome-maskable-192x192.png
  public/img/icons/android-chrome-maskable-512x512.png
  public/img/icons/apple-touch-icon-120x120.png
  public/img/icons/apple-touch-icon-152x152.png
  public/img/icons/apple-touch-icon-180x180.png
  public/img/icons/apple-touch-icon-60x60.png
  public/img/icons/apple-touch-icon-76x76.png
  public/img/icons/apple-touch-icon.png
  public/img/icons/browserconfig.xml
  public/img/icons/favicon-16x16.png
  public/img/icons/favicon-32x32.png
  public/img/icons/msapplication-icon-144x144.png
  public/img/icons/mstile-150x150.png
  public/maskable-icon-512x512.png
  public/pwa-192x192.png
  public/pwa-512x512.png
  public/pwa-64x64.png
  pwa-assets.config.ts
  vite.config.ts
Due: lint, format

update psw settings
  index.html
  vite.config.ts
Due: lint, format

update pwa settings
  index.html
  vite.config.ts
Due: lint, format

automatically generate favicons on build
  index.html
  public/apple-touch-icon-180x180.png
  public/favicon.ico
  public/maskable-icon-512x512.png
  public/pwa-192x192.png
  public/pwa-512x512.png
  public/pwa-64x64.png
  pwa-assets.config.ts
  vite.config.ts
Due: lint, format

working
  src/App.vue
  src/assets/css/tailwind.css
  src/components/LayoutInline.vue
  src/components/TheTimerLabel.vue
  src/stores/cycle.ts
Due: lint, format

fix flicker
  src/assets/css/tailwind.css
  src/components/TheTimerLabel.vue
Due: lint, format

refactor
  src/assets/css/tailwind.css
Due: format

refactor: update background transition animations and clean up TimerLabel component
  src/App.vue
  src/assets/css/tailwind.css
  src/components/TheTimerLabel.vue
Due: lint, format

review styles and canvas favicon
  src/components/IntervalEditBox.vue
  src/components/LayoutInline.vue
  src/components/LayoutStack.vue
  src/components/TheCycleEdit.vue
  src/components/TheGraphicTimer.vue
  src/utils.ts
Due: lint

hide reference canvas
  src/components/TheGraphicTimer.vue
Due: lint

better function naming
  src/components/TheGraphicTimer.vue
Due: lint

remove ico file because of chrome bug
  pwa-assets.config.ts
Due: lint

refactoring canvas timer into a composable
  src/components/TheGraphicTimer.vue
  src/use/useCanvasTimer.ts
  tsconfig.json
Due: lint, format

move non tailwind animation outside of theme layer
  src/assets/css/tailwind.css
Due: format

use simpler function for animations
  src/assets/css/tailwind.css
Due: format

update PWA display mode to fullscreen
  vite.config.ts
Due: lint

update PWA display mode to standalone
  vite.config.ts
Due: lint

fix a11y announcements not working as expected
  src/components/BaseTimer.vue
  src/components/TheTimerLabel.vue
  src/components/TheTimerList.vue
Due: lint

refactor hooks and add dynamic title for a11y
  src/App.vue
  src/use/notification.ts
  src/use/ticker.ts
  src/utils.ts
Due: lint

one single aria-live node for interval's notification
  src/components/TheTimerLabel.vue
  src/components/TheTimerList.vue
  src/stores/cycle.ts
Due: lint
